<div class="contact" id="contactdiv">
    <div id="heading"><h2>Contact Us</h2></div>
    <div class="contactform">
        <form action="{{site.form_url}}" method="POST">
            <label>Name</label>
            <div class="cfdiv"><input type="text" name="name" placeholder="Your name..." required="true"/></div>
            <label>Email</label>
            <div class="cfdiv"><input type="email" name="email" placeholder="Your email..." required="true"/></div>
            <label>Message</label>
            <div class="cfdiv"><textarea name="message" placeholder="Write Something..." required="true"></textarea></div>
            <button type="submit">Submit</button>
        </form>
    </div>  
</div>
