<a id="memdivoffset"></a>
<h2 id="memdiv">Pod Members</h2>
  <div class="containerr">
    <div class="cardd">
      <h3 class="titlee">Sanjali Batra</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" /> 
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Amin Zamani</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Patrick Ofili</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Ahana Datta</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Johnpaul Ugwulo</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Nilisha Jaiswal</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Prabaljit Walia</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Shubham Gautam</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
  </div>
  <div class="containerr">
    <div class="cardd">
      <h3 class="titlee">Eshika Shah</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%; height: 140px; width: 140px;' src="./assets/img/eshika.jpeg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Gokul Nair</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Oladipupo Ishola</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Ritika Tomar</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Shweta Chaurasia</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Simran Singh</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Tushar Guha Neogi</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
    <div class="cardd">
      <h3 class="titlee">Uttam Singh Khanduja</h3>
      <div class="barr">
        <div class="emptybarr"></div>
        <div class="filledbarr"></div>
      </div>
      <div class="circlee">
        <img style='border-radius: 50%;' src="./assets/img/rhino.png">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
  </div>
