@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'contact';
@import 'footer';
@import 'podMember';
@import 'project';
@import 'scrollbutton';

html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar-track{
	background-color: #1d1c1c;
	border-radius: 10px;
}
::-webkit-scrollbar{
	width: 10px;
	background-color: #1d1c1c;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,40% 0%,75% 84%,from(#1c539f),to(white),color-stop(.6,#1c539f))
}
/*-----Dark-Mode------*/
.dark-mode {
  background-color: #121212 !important;
  color: #fff;
}

.dark-mode .nav-bar {
  background-color: #4a1ad9 !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.dark-mode .card {
  background-color: #121212 !important;
  color: #fff;
  border: 1px solid #fff;
}

.dark-mode .profile,
.dark-mode .footer {
  background-color: #4a1ad9 !important;
}

.dark-mode .resume-button {
  background-color: #4a1ad9;
  border: 1.5px solid #fff;
  color: #fff;
}

.dark-mode .cardd {
  background-color: #121212 !important;
}

.dark-mode .titlee {
  color: #fff;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;

    .card {
      flex-direction: column;
      margin: 0.5em;
      padding: 1em;
    }
  }
}

body {
  background-color: #f5f5f9;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

.card:hover {
  box-shadow: 10px 10px #1c539f;
}

a {
  color: black;
}

.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location {
    font-size: medium;
    font-weight: 400;
  }

  .dates {
    font-size: small;
    color: #404040;
  }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

.arrow {
  float: right;
  cursor: pointer;
}
.circle {
  position: absolute;
  border: solid 2px #1c539f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.circle::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  border: solid 4px #1c539f;
  border-radius: 50%;
  opacity: 0.8;
  top: -23px;
  right: -21px;
}
.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #ffffff;
  --outer-line-color: #1261a0;
  --middle-line-color: #3895d3;
  --inner-line-color: #58cced;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--outer-line-color);
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

.loader:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--inner-line-color);
  border-radius: 100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--middle-line-color);
  border-radius: 100%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  background: var(--curtain-color);
  width: 51%;
  height: 100%;
  z-index: 1000;
}

.loader-wrapper .loader-section.section-left {
  left: 0;
}
.loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
