.bio{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.375rem;
    padding: 1.5em;
    font-size: 1.2em;
    margin: 0 auto;
  
    .bio-content{
      text-align: justify;
    }
  }
  

@media screen and (max-width: 768px) {
    .bio{
      width: 95vw;
    }
  }