.stack-container {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .stack-card {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    margin: 5px 5px;
    background-color: white;
    border-radius: 0.375rem;
    padding: .3em;
    font-size: 1.2em;
  }
  
  // .stack-card:hover {
  //   box-shadow: 10px 10px #1c539f;
  // }

  
  @media only screen and (max-width: 1500px) {
    .stack-container {
      grid-template-columns: repeat(4, 1fr);
    }

    .stack-card{
        width: 200px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .stack-container {
      grid-template-columns: repeat(3, 1fr);
    }

    .stack-card{
        width: 150px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .stack-container {
      grid-template-columns: repeat(3, 1fr);
  
      .stack-card {
        flex-direction: column;
        margin: 0.5em;
        width: 100px;
        // padding: 1em;
      }
    }
  }

